
      body {
        background-image: url("https://cdn.pocket-lint.com/r/s/1200x/assets/images/142413-apps-feature-art-and-science-collide-the-best-in-modern-space-art-image1-iha6vzu3wk.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
      }
      main {
        background-color: white;
        width: 75%;
        text-align: center;
        padding: 2% 3%;
        margin:40px auto;
        border-radius: 8px;
      }
      nav {
        background-color: black;
        color: white;
        border: 3px white double;
        padding: 15px 0;
      }
      nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        margin: 0;
      }
      ul,ol {
        list-style-position: inside;
      }
      
      .nav-link {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: sans-serif;
        color: white;
        text-decoration: none;
        padding: 10px;
      }
 